disabled-div{
    background: rgba(255, 255, 255, 0.288);
    height: 100%;
    width: 100%;
    position: absolute;
}

.crud-modal-content {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

mat-form-field{
    display: inline;
}
.mat-checkbox{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.mat-dialog-actions{
    display: inline;
}

app-pick-list{
    display: flex;
    margin-bottom: 20px;
}

button:last-child {
    float: right;
}

.custom-actions{
    display: inline-block;
    margin-top: 10px;
    width:100%;
}
.clear-div{
    display: inline;
}
.clear-div button{
    float: right;
}
.mat-icon-button_ {
    width: 30px !important;
    height: 30px !important;
    line-height: 11px !important;
}
.modal-component_button-a:nth-child(1) {
    background-color: #e2e2e2 !important;
    width: 49%;
    margin-right: 1%;
}
.modal-component_button-a:nth-child(2) {
    background-color: #3400FF !important;
    color: white;
    width: 49%;
    margin-left: 1%;
}
.modal-component_button-a:nth-child(2):hover {
    background-color: #00a547 !important;
}
.modal-component_button-a:nth-child(3) {
    margin-top: 6px;
}