<div id="reset-password" fxLayout="column" fusePerfectScrollbar>
    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="reset-password-form">
            <ng-container *ngIf="!formSubmittedSuccessfully">
                <div class="title">{{translate('form_title')}}</div>

                <form *ngIf="resetPasswordForm" (ngSubmit)="onSubmit()" name="resetPasswordForm"
                    [formGroup]="resetPasswordForm" novalidate>
                    <mat-form-field>
                        <input matInput type="password" class="input-password"
                            placeholder="{{translate('form_current_password')}}" formControlName="currentPassword">

                        <mat-error *ngIf="resetPasswordForm.controls.currentPassword.invalid">
                            {{getCurrentPasswordErrorMessage()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="password" class="input-password"
                            placeholder="{{translate('form_new_password')}}" formControlName="newPassword">
                        <mat-error *ngIf="resetPasswordFormErrors.newPassword.required">
                            {{translate('form_new_password_required')}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="password" class="input-password"
                            placeholder="{{translate('form_new_password_confirm')}}" formControlName="passwordConfirm">
                        <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                            {{translate('form_password_confirm_required')}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
                            {{translate('form_password_not_match')}}
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                        [disabled]="resetPasswordForm.invalid">
                        {{translate('form_button_reset')}}
                    </button>
                </form>

                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/'">{{translate('form_button_return_home')}}</a>
                </div>
            </ng-container>

            <ng-container *ngIf="formSubmittedSuccessfully">
                <div class="success-message-container" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="check-icon">check_circle</mat-icon>
                    <h2 class="success-title">{{translate('success_message_title')}}</h2>
                    <p class="redirect-text">{{translate('success_message_line2')}}</p>
                    <p class="redirect-text countdown">
                        <strong class="countdown-seconds">{{countdown}}</strong> {{translate('seconds_text')}}
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
    <img class="logo-background_position"
        src="https://premecsa.com.ar/wp-content/uploads/2018/05/logo-pestan%CC%83a-01.png">
</div>