<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center"
         *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="reset-password-form">

            <!-- <div class="logo">
                <img src="assets/images/logos/Isotipo.png">
            </div> -->

            <div class="title">{{translate('form_title')}}</div>

            <form *ngIf="resetPasswordForm" (ngSubmit)="onSubmit()" name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
                <mat-form-field>
                    <input matInput type="password" placeholder="{{translate('form_current_password')}}" formControlName="currentPassword">
                    
                    <mat-error *ngIf="resetPasswordForm.controls.currentPassword.invalid">
                            {{getCurrentPasswordErrorMessage()}}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput type="password" placeholder="{{translate('form_new_password')}}" formControlName="newPassword">
                    <mat-error *ngIf="resetPasswordFormErrors.newPassword.required">
                        {{translate('form_current_password_required')}}
                    </mat-error>
                </mat-form-field>
    <!---->
                <mat-form-field>
                    <input matInput type="password" placeholder="{{translate('form_new_password_confirm')}}" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        {{translate('form_password_confirm_required')}}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
                        {{translate('form_password_not_match')}}
                    </mat-error>
                </mat-form-field>
            
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                        {{translate('form_button_reset')}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link color_green" [routerLink]="'/'">{{translate('form_button_return_home')}}</a>
            </div>

        </div>

    </div>
    <img class="logo-background_position" src="assets/esiliva/Logo_white.png">
</div>