@import "src/@fuse/scss/fuse";

:host {

    #reset-password {
        width: 100%;
        height: 100%;
        overflow: auto;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        .logo-background_position {
            width: 53px;
            background: white;
            border-radius: 12px;
            padding: 6px;
            right: 0;
            position: absolute;
            margin: 16px;
        }

        #reset-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            #reset-password-form {
                width: 320px;
                max-width: 320px;
                padding: 30px;
                text-align: center;
                background: #FFFFFF;
                @include mat-elevation(16);

                .input-password {
                    font-size: 24px;
                }

                .link {
                    color: #012eff;
                }

                .logo {
                    width: 100px;
                    margin: 18px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;
                        padding: 8px;
                    }
                }

                .login {
                    margin: 0px auto;
                    width: 250px;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }

                    .color_green {
                        color: #00c655;
                    }
                }

                .success-message-container {
                    text-align: center;
                    color: #4CAF50;

                    .check-icon {
                        font-size: 50px;
                        color: #4CAF50;
                        margin-bottom: 20px;
                        width: 100%;
                    }

                    .success-title {
                        font-size: 21px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .success-text,
                    .redirect-text {
                        font-size: 16px;
                        margin-bottom: 5px;
                        color: #1e1e1e;
                    }

                    .countdown {
                        background-color: #eaeaea;
                        padding: 5px 26px;
                        border-radius: 10px;
                    }

                    .countdown-seconds {
                        font-size: 20px;
                        font-weight: bold;
                        animation: pulse 1s infinite alternate;
                    }
                }
            }

            @keyframes pulse {
                from {
                    transform: scale(1);
                    opacity: 1;
                }

                to {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }
        }
    }
}