<div id="products" class="page-layout carded fullwidth inner-scroll component-{{name}}">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg">
    </div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->

    <!-- HEADER -->
    <div class="center">
        <div class="2header mat-accent-bg"
                    fxLayout="column" fxLayoutAlign="center center"
                    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="baseline">
            <!-- APP TITLE -->
            <!-- <div class="logo my-12 m-sm-0"
                  fxLayout="row" fxLayoutAlign="start center">
                <back-button *ngIf='crudDef.backButton' style= "margin-right: 10px;"></back-button>
            </div> -->
            <app-search *ngIf='crudDef.forms.filter' [fields]='crudDef.forms.filter' (onChangeSearchEntity)='filterSearchEntity($event)' [forceFirstSubmit]='true' [crudDef]="crudDef"></app-search>
    
            <div class="header-buttons content-buttons">
                <!-- / APP TITLE -->
                <button mat-icon-button
                        *ngIf="crudDef.openLink"
                        (click)="goToLink(crudDef.openLink)"
                        class="icon-button_style- mat-mini-fab mat-accent ng-tns-c20-4 ng-star-inserted btn-add" title='Panel Mailer'>
                    <mat-icon aria-label="icon">mail</mat-icon>  
                </button>
                
                <button 
                    *ngIf="crudDef.exportCsv"
                    mat-mini-fab 
                    class="button-color-atention crud-button-print " 
                    (click)="exportCsv()">
                    <mat-icon aria-label="icon">print</mat-icon>
                </button>

                <button mat-icon-button
                        *ngIf="crudDef.downloadBoleta"
                        (click)="downloadBoleta()"
                        class="icon-button_style- mat-mini-fab mat-accent ng-tns-c20-4 ng-star-inserted btn-add" title='Descargar Boleta'>
                    <mat-icon aria-label="icon">newspaper</mat-icon>  
                </button>

                <button mat-icon-button
                        *ngIf="showAddButton()"
                        (click)="openAddDialog()"
                        class="icon-button_style- mat-mini-fab mat-accent ng-tns-c20-4 ng-star-inserted btn-add" title='Agregar'>
                    <mat-icon aria-label="icon">add</mat-icon>  
                </button>
            </div>

        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
                <app-crud-table
                                [onClickRow]="onClickRow"
                                [datasource]="dataSource" 
                                [tabledef]="crudDef.grid"
                                [grid]="crudDef.grid"
                                [crud]="this"
                                [selectable]="crudDef.crudActions"
                                [urlDelete]="crudDef.ws.url"
                                (status)="statusChanged($event)"
                                (onChangePagination)='findAll()'>
                </app-crud-table>
        </div>
            <!-- / CONTENT CARD -->
      </div>
      <!-- / CENTER -->
  </div>
 
      <!-- <div [ngClass]="fuseSettings.colorClasses.title" class="card-title-text" style="flex-direction: row; box-sizing: border-box; display: flex;">
        
      </div> -->
  <!-- </mat-card-title> -->
  <!-- <mat-card-content class="crud-card-content">
    <app-search *ngIf='crudDef.forms.filter' [fields]='crudDef.forms.filter' (onChangeSearchEntity)='filterSearchEntity($event)' [forceFirstSubmit]='true'></app-search>
    <div class="mat-elevation-z4" *ngIf="crudDef">
      <app-crud-table
                            [onClickRow]="onClickRow"
                            [datasource]="dataSource" 
                            [tabledef]="crudDef.grid"
                            [grid]="crudDef.grid"
                            [crud]="this"
                            (status)="statusChanged($event)"
                            >
      </app-crud-table>
    </div>
  </mat-card-content>
</mat-card> -->
<!-- <button *ngIf="showAddButton()" mat-fab class="crud-button-add buttonColorA" (click)="openAddDialog()"><i class="material-icons buttonColorA" >&#xE148;</i></button> -->
<div *ngIf="showCrudActions()" class="button-delate_position-style">
    <button 
        *ngFor="let action of getCrudActions()" 
        mat-mini-fab 
        class="button-color-atention crud-button-delete " 
        (click)="executeCrudAction(action)">
        <span *ngIf="action.icon === undefined" class="actionName_pad">{{action.actionName | slice :0:1}}</span>
        <mat-icon *ngIf="action.icon" aria-label="icon">{{action.icon}}</mat-icon>
    </button>

    <button 
        *ngIf="showDeleteButton()" 
        mat-mini-fab 
        class="button-color-atention crud-button-delete" 
        (click)="openDeleteDialog()">
        <i class="material-icons" [ngClass]="fuseSettings.colorClasses.secondary_button_fg">delete</i>
    </button>
</div>
