@import "src/@fuse/scss/fuse";

// :host {
    .page-layout{
        height: 100vh;
    }
    .header {
        .search-input-wrapper {
            max-width: 480px;
        }

        @include media-breakpoint-down(xs) {
            margin: 8px 0;
            height: 192px !important;
            min-height: 192px !important;
            max-height: 192px !important;
        }
    }
    .header-buttons.content-buttons {
        position: absolute;
        right: 30px;
        top: 15px;
    }
    
    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }
    app-crud-table{
        height: 100%;
    }
    .crud-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow-x: auto;
        overflow-y: auto;
        max-height: 68%;
        .mat-header-row {
            min-height: 64px;
            top: 0;
            position: sticky;
            z-index: 1;
            background-color: inherit;
        }

        .row {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
// }
.top-bg{
    background-image: none !important;
}

.add-button{
    width: 48px;
    height: 48px;
}
.bg-button-white {
    background-color: #f9f9f9 !important;
    color: #4f4f4f !important;
}
.mat-fab .mat-button-wrapper{
    padding:0 px !important;
} 
app-search{
    margin-bottom: 3px;
    width: 80%;
    app-dynamic-form-component{
        width: 50% !important;
    }
}

.btn-add {
    mat-icon {
        vertical-align: sub !important;
    }
}
.btn-link {
    mat-icon {
        vertical-align: sub !important;
    }
}
.header-buttons{
    // width: 100%;
}
.mat-accent-bg {
    background-color: #3400FF !important;
    color: white !important;
}   
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #3400FF;
}
.icon-button_style- {
    width: 30px !important;
    height: 30px !important;
    background-color: #222f3e !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 700;
    margin-right: 6px !important;
}
.icon-button_style- .mat-button-wrapper {
    padding: 0px 0 !important;
    display: inline-block !important;
    line-height: 34px !important;
    top: 0px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.button-delate_position-style {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.button-layout-position-style{
    position: fixed !important;
    right: 60px !important;
    bottom: 20px !important;
    z-index: 999 !important;
}

.crud-button-delete {
    background-color: #222f3e !important;
}

.crud-button-print {
    background-color: transparent !important;
}

.-modal {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.newItemModal {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}