.basic-modal-content {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.lineheight135 {
    line-height: 1.350 !important;
}

.mat-checkbox{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

app-pick-list{
    display: flex;
    margin-bottom: 20px;
}
.mat-dialog-actions{
  display: inline;
}
button:last-child {
 float: right;
}
.clear-div{
    display: inline;
}
.clear-div button{
    float: right;
}
.mat-icon-button_ {
    width: 30px !important;
    height: 30px !important;
    line-height: 11px !important;
}