<mat-table #table [dataSource]="datasource" matSort *ngIf="initOk" class="crud-table">
    
  <ng-container *ngIf='hasGeneralActions()' matColumnDef="{{getGeneralActionsColumnName()}}">
      <mat-header-cell *matHeaderCellDef class="checkbox-cell" > <mat-checkbox [(ngModel)]="selects" class="checkbox-action"></mat-checkbox></mat-header-cell>
      <mat-cell  *matCellDef="let element" (click)="$event.stopPropagation()" class="checkbox-cell">
        <mat-checkbox *ngIf="getRow(element).selectable" [(ngModel)]="getRow(element).select" class="checkbox-action"></mat-checkbox>
      </mat-cell>
  </ng-container>
  <ng-container *ngIf='hasActions()' matColumnDef="{{getActionsColumnName()}}">
      <mat-header-cell *matHeaderCellDef style="max-width: 50px;" [ngStyle]="{'max-width': (this.grid.groupActions) ? '50px' : '360px'}" [ngClass]="{'action-cell': (this.grid.groupActions == false || this.grid.groupActions == undefined)}"></mat-header-cell>
      <mat-cell  *matCellDef="let element; let i = index" (click)="$event.stopPropagation()" [ngClass]="{'action-cell-elevated': openActionsArray[i], 'action-cell': (this.grid.groupActions == false || this.grid.groupActions == undefined)}" style="overflow: visible;" [ngStyle]="{'max-width': (this.grid.groupActions) ? '50px' : '360px'}">
        <button class="icon-button" class="icon-button_style-" mat-mini-fab (click)="groupActionButton(i)" *ngIf="this.grid.groupActions == true">
          <mat-icon matTooltip="Mostrar acciones" aria-label="icon">{{openActionsArray[i] ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right'}}</mat-icon>
        </button>
        <div (@groupButtons.start)="$event.element.style.display = 'flex'" (@groupButtons.done)="$event.element.style.display = ($event.toState ? 'flex' : 'none')" *ngIf="this.grid.groupActions" [@groupButtons]="openActionsArray[i]" class="action-buttons-div" [ngClass]="{'highlight': selectedRowIndex == getRowId(element)}">
          <button  class="icon-button" *ngFor="let action of getActionsByElement(element)" matTooltip="{{action.actionName}}" mat-mini-fab (click)="submitAction(action, element, $event)" class="icon-button_style-" >
            <span *ngIf="action.icon === undefined" class="actionName_pad">{{action.actionName | slice :0:1}}</span>
            <mat-icon *ngIf="action.icon" aria-label="icon">{{action.icon}}</mat-icon>
          </button>
        </div>
        <div *ngIf="this.grid.groupActions == false || this.grid.groupActions == undefined" ><!--sin agrupar-->
          <button  class="icon-button" *ngFor="let action of getActionsByElement(element)" matTooltip="{{action.actionName}}" mat-mini-fab (click)="submitAction(action, element, $event)" class="icon-button_style-">
            <span *ngIf="action.icon === undefined" class="actionName_pad">{{action.actionName | slice :0:1}}</span>
            <mat-icon *ngIf="action.icon" aria-label="icon">{{action.icon}}</mat-icon>
          </button>
        </div>
      </mat-cell>
  </ng-container>
  <!-- Definition Columns -->
  <ng-container *ngFor="let def of grid.columnsDef" matColumnDef="{{def.columnDef}}">
    <mat-header-cell 
         *matHeaderCellDef 
          mat-sort-header="{{def.columnDef}}" 
          disabled="{{isDisableSort(def.columnDef)}}"
          start="{{orderStart(def.columnDef)}}" id="{{def.columnDef}}Header"> {{def.columnName}} </mat-header-cell>
    <mat-cell *matCellDef="let element" id="{{def.columnDef}}Cell"> {{getValue(element,def.columnDef, def)}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="grid.displayedColumns" style="z-index: 2;"></mat-header-row>
  <mat-row *matRowDef="let row; columns: grid.displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == getRowId(row)}" (click)="onClickRowEvent(row)"></mat-row>
</mat-table>

<mat-paginator #paginator
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 20, 50, 100, 500, 1000, 5000]"
              [showFirstLastButtons]="true"
              [length]="totalSize"
              [pageIndex]="currentPage"
              (page)="onPageFired($event)">
</mat-paginator>