.component-FORMULARIO{
    .crud-table{
        /* @media screen and (max-width:899px) {
            .mat-header-row, .mat-row {
                width: max-content;
            }
        } */

        .action-cell {
            width: 360px !important;
            min-width: 360px !important;
            max-width: 360px !important;
        }

        #fromDateHeader,
        #fromDateCell{
            width: 115px;
            min-width: 115px;
            max-width: 115px;
        }

        #toDateHeader,
        #toDateCell{
            width: 115px;
            min-width: 115px;
            max-width: 115px;
        }

        #inscriptosHeader,
        #inscriptosCell{
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            text-align: center;
        }

        #minQuotaHeader,
        #minQuotaCell{
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            text-align: center;
        }
        #quotaHeader,
        #quotaCell{
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            text-align: center;
        }

        #isCursoHeader,
        #isCursoCell{
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            text-align: center;
        }

        #dateStringHeader,
        #dateStringCell{
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            text-align: center;
        }
        
        mat-header-cell.checkbox-cell {
            display: none;
        }
        
        mat-row.mat-row > mat-cell:nth-child(1) {
            display: none;
        }


    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
    
    .nameDiv{
        display: inline-block !important;
        width:100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
    .remarksDiv{
        display: inline-block !important;
        width:100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
    
    
    .minQuotaDiv{
        display: inline-block !important;
        width:30% !important;
        margin-right: 5% !important;
    }
    .quotaDiv{
        display: inline-block !important;
        width:30% !important;
        margin-right: 5% !important;
    }
    .allowQueueDiv{
        display: inline-block !important;
        width:30% !important;
    }

    .fromDateStringDiv{
        display: inline-block !important;
        width:45% !important;
        margin-right: 10% !important;
    }
    .toDateStringDiv{
        display: inline-block !important;
        width:45% !important;
    }
    
    .validateUserDiv{
        display: inline-block !important;
        width:13% !important;
        margin-right: 8%!important;
    }
    .showUserDataDiv{
        display: inline-block !important;
        width:28% !important;
        margin-right: 5% !important;
    }
    .allowUpdatesDiv {
        display: inline-block !important;
        width:22% !important;
        margin-right: 5% !important;
    }
    .showTitleDiv{
        display: inline-block !important;
        width:15% !important;
    }









    .placeDiv{
        display: inline-block !important;
        width:22% !important;
        margin-right: 3% !important;
    }
    .dateStringDiv{
        display: inline-block !important;
        width:22% !important;
        max-width: 22% !important;
        margin-right: 3% !important;
    }

    .contactDiv{
        display: inline-block !important;
        width:22% !important;
        max-width: 22% !important;
        margin-right: 3% !important;
    }

    .isCursoDiv {
        display: inline-block !important;
        width:25% !important;
    }

    

    
}


//Estilos cssClasses form update
.formulario_name {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_remarks {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_minquota {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_quota {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_allowqueue {
    .mat-checkbox {
        //Estilos campos formularios
    }
}

.formulario_fromdate {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_todate {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_allowupdates {
    .mat-checkbox {
        //Estilos campos formularios
    }
}

.formulario_showtitle {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_headerimage {
    div {
        app-import-image{
            //Estilos campos formularios
        }
    }
}

.formulario_place {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_date {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_contact {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_isCurso {
    .mat-checkbox {
        //Estilos campos formularios
    }
}

//Estilos cssClasses form create
.formulario_create_name {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_remarks {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_minquota {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_quota {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_allowqueue {
    .mat-checkbox {
        //Estilos campos formularios
    }
}

.formulario_create_fromdate {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_create_todate {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_create_validateuser {
    .mat-checkbox {
        //Estilos campos formularios
    }
}

.formulario_create_showtitle {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_headerimage {
    div {
        app-import-image{
            //Estilos campos formularios
        }
    }
}

.formulario_create_place {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_date {
    div {
        app-datepicker-2 {
            //Estilos campos formularios
        }
    }
}

.formulario_create_contact {
    .mat-form-field {
        //Estilos campos formularios
    }
}

.formulario_create_isCurso {
    .mat-checkbox {
        //Estilos campos formularios
    }
}