@import "src/@fuse/scss/fuse";
 @import "../../content/pages/reporte_horas_maquina/scss/reporte_horas_maquina.nav.scss";
 @import "../../content/pages/grupos_tipo_actividad/scss/grupos_tipo_actividad.component.scss";
 @import "../../content/pages/item_checklist_grupo/scss/item_checklist_grupo.component.scss";
 
// @import "../../content/pages/perfil_identificacion/scss/perfil_identificacion.component.scss";
// @import "../../content/pages/contenido/scss/contenido.component.scss";
// @import "../../content/pages/mailing/scss/mailing.component.scss";
// @import "../../content/pages/contact_list_members/scss/contact_list_members.component.scss";
// @import "../../content/pages/producto_externo/scss/producto_externo.component.scss";
// @import "../../content/pages/banner_campaing/scss/banner_campaing.component.scss";
// @import "../../content/pages/boletin/scss/boletin.component.scss";
// @import "../../content/pages/boletin_contenido/scss/boletinContenido.component.scss";
// @import "../../content/pages/imagen/scss/imagen.component.scss";
// @import "../../content/pages/content_image/scss/content_image.component.scss";
// @import "../../content/pages/section_content/scss/section_content.component.scss";
// @import "../../content/pages/section_topic/scss/section_topic.component.scss";
// @import "../../content/pages/opcion/scss/opcion.component.scss";
// @import "../../content/pages/banner/scss/banner.component.scss";
// @import "../../content/pages/modal/scss/modal.component.scss";
// @import "../../content/pages/campo/scss/campo.component.scss";
// @import "../../content/pages/form_response/scss/formResponse.component.scss";
// @import "../../content/pages/email_account/scss/email_account.component.scss";
// @import "../../content/pages/message_template/scss/message_template.component.scss";
// @import "../../content/pages/abm_roles/scss/abm_roles.component.scss";
// @import "../../content/pages/producto_externo//scss/producto_externo.component.scss";
// @import "../../content/pages/noticiaCarrousel/scss/noticiaCarrousel.component.scss";
// @import "../../content/pages/revistanotas/revistas/scss/revistas.component.scss";
// @import "../../content/pages/revistanotas/contenidos/scss/contenidos.component.scss";
// @import "../../content/pages/producto/scss/producto.component.scss";
// @import "../../content/pages/identificacion_busqueda/scss/identificacion_busqueda.component.scss";
// @import "../../content/pages/venta/scss/venta.component.scss";
crud{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.mat-list-text {
    font-size: 12px;
}

.mat-green-300-bg {
    background-color: #3400FF !important;
    color: white !important;
}

.mat-green-300-bg[disabled] {
    background-color: #e7e0ff !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

.import-image-button {
    width: 40px!important;
    min-width: 40px!important;
    max-width: 40px!important;
}

