.list-card {
    min-width: 200px;
    width: 49%;
}
.list-spacer{
    width: 2%;
}
.list-card mat-card-content{
    overflow-y: auto;

    max-height: 150px;
    min-height: 150px;
}

.list-card mat-list-option {
    height: 30px;
}
.list-card mat-card-header{
    border-bottom: 1px solid gainsboro;
}

.list-card mat-card-actions{
    text-align: center;
}