.component-IDENTIFICACION_BUSQUEDA{
    .crud-table{
       

        .action-cell {
            width: 60px !important;
            min-width: 60px !important;
            max-width: 60px !important;
        }

    }
}


