.component-CONTACT_LIST_MEMBERS{
    .crud-table{       

        .action-cell {
            width: 40px !important;
            min-width: 40px !important;
            max-width: 40px !important;
        }

        #addMember_title > label:nth-child(1) > div:nth-child(1) {
            display:none;
        }
        
        #addMember_title > label:nth-child(1) > span:nth-child(2) {
            font-size: 16px;
            color: gray;
            font-weight: bolder;
        }
        
        .addMember_title > div:nth-child(2) {
            background-color: gainsboro;
            text-align: center;
            padding: 3px;
        }

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
        
}
